html{font: 1.1em "SimSun";}
.alert {
    padding: 15px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
  }
  .allblock {
    width: 100%;
    height: 100vh;
    display: flex;
    color:blue;
    background-color: #d4ffd8;
  }


  .resbl {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20%;
    height: 100%;
    display: flex;
    border: 1px solid #abe2b1;
    background-color: #e8ffea;

  }

  .topic {
    position:absolute;
    top: 0px;
    left: 20%;
    width: 80%;
    height: 50px;
    display: flex;
    border: 1px solid #abe2b1;
    background-color: #e8ffea;
  }

  .rightbar {
    position: absolute;
    top: 51px;
    right: 0px;
    width: calc(20% - 3px);
    height: calc(100% - 51px);
    display: block;
    font: 1em "MS Gothic";
    border: 1px solid #abe2b1;
    background-color: #e8fff4;
    overflow-y: scroll;
  }

  .logdiv{
    width: 100%;
    font-size: .9em;
    color: blue;

  }
  .actionselect {
    position: absolute;
    top: 51px;
    left: 20%;
    width: calc(60%);
    height: 30px;
    display: flex;
    border: 1px solid #abe2b1;
    background-color: #e8ffea;

  }

  .actiontab {
    background-color: #caf37d;

  }
  .actionplace {
    position: absolute;
    border: 1px solid #abe2b1;
    background-color: #e8ffea;
    left: 20%;
    top: 82px;
    width: 60%;
    height: calc(100% - 82px);

  }
  .actiontext {
    position: absolute;
    left: 0px;
    top: 0px;
    font: 300;
    background-color: #ecf5ed;
    border: 1px solid #abe2b1;
    
  }
  .charstate {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 107px;
    background-color: #efffe0;
    border: 1px solid #abe2b1;
    text-align: center;
    font-size: 1.3em;
    font: 1.1em "Arial Black";
  }
  .hpbar {
    position:absolute;
    top: 27px;
    width: 50%;
    font: 1.1em "SimSun";
    font-size:.9em;
    background-image: linear-gradient(to right, orange , green);

  }
  .manabar {
    position: absolute;
    top: 47px;
    width: 50%;
    font: 1.1em "SimSun";
    font-size:.9em;
    background-image: linear-gradient(to right, cyan, #0051ff);

  }
  .staminabar {
    position: absolute;
    top: 67px;
    width: 50%;
    font: 1.1em "SimSun";
    font-size:.9em;
    background-image: linear-gradient(to right, orange, rgb(231, 231, 18));

  }
  .expbar {
    position: absolute;
    top: 87px;
    width: 50%;
    font: 1.1em "SimSun";
    font-size:.9em;
    background-image: linear-gradient(to right, purple, magenta);

  }
  .hpbartext {
    position:absolute;
    top: 27px;
    width: 100%;    
    font: 1.1em "SimSun";
    font-size:.9em;
  }
  .manabartext {
    position:absolute;
    top: 47px;
    width: 100%;    
    font: 1.1em "SimSun";
    font-size:.9em;
    
  }
  .staminabartext {
    position:absolute;
    top: 67px;
    width: 100%;    
    font: 1.1em "SimSun";
    font-size:.9em;
  }
  .expbartext {
    position:absolute;
    top: 87px;
    width: 100%;    
    font: 1.1em "SimSun";
    font-size:.9em;
  }
  .leftselector{
    position: absolute;
    top: 108px;
    width: 100%;
    height: 22px;
    background-color: #ddfff2;
    border: 1px solid #abe2b1;
  }
  .restab{
    width: calc(50% - 1px);
    background-color: #caf37d;
  }
  .lefttabs{
    position: absolute;
    background-color: #e8fff4;
    border: 1px solid #abe2b1;
    top: 130px;
    height: calc(100% - 130px);
    width: 100%;
    overflow:auto;
    font: 0.7em "SimSun";
  }
  .actionbutton{
    width: calc(20% - 9px);
    height: 40px;
    background-color: #caf37d;    
    visibility: hidden;
    margin: 4px;
  }
 .skillsbar{
  width: calc(100% - 2px);
  background-color: #ddfff2;
  border: 1px solid;
  border-color: #9fffda;

 }
 .statprogress{
  width: calc(100% - 10px);
  height: 4px;
  background-color: #ddfff2;
  border: 1px solid;
  border-color: #6b1780;
  font-size:.5em;
 }
 .statprogressbar{
   height: 4px;
   width: 50%;
  background-image: linear-gradient(to right, rgb(77, 169, 255), rgb(255, 126, 255));


 }
 .tooltip {
  position: fixed;
  padding: 2px 4px;
  border: 1px solid #ebcb73;
  text-align: center;
  font: 0.7em "SimSun";
  color: rgb(82, 56, 7);
  background: rgb(225, 238, 149);
  box-shadow: 3px 3px 3px rgba(65, 39, 5, 0.3);
}

ul.tree li {
  list-style-type: none;
  position: relative;
}

ul.tree li ul {
  display: none;
}

ul.tree li.open > ul {
  display: block;
}

ul.tree li a {
  color: black;
  text-decoration: none;
}

ul.tree li a:before {
  height: 1em;
  padding:0 .1em;
  font-size: .8em;
  display: block;
  position: absolute;
  left: -1.3em;
  top: .2em;
}

ul.tree li > a:not(:last-child):before {
  content: '+';
}

ul.tree li.open > a:not(:last-child):before {
  content: '-';
}

.res{
  border: 1px solid #abe2b1;
  margin: 0px;
  padding-left: 18px;

  list-style-image: url("images/test.png");
  position: relative;
  
};



